html {
  min-height: 100%; 
  font-size: 62.5%;
  background: black;
  background-image: -moz-linear-gradient(left top, left bottom, from(black), to(grey));
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(grey));
}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
.ui-button { outline: 0; margin:0; padding: .4em 1em .5em; text-decoration:none;  !important; cursor:pointer; position: relative; text-align: center; }
.ui-dialog .ui-state-highlight, .ui-dialog .ui-state-error { padding: .3em;  }

/* XXX mostly temporary styling while I figure out what the design is */
#container {
  width: 75%;
  margin: 0 auto;
  padding: 3px 10px 3px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#device-tabs {
  min-width: 500px;
}
